.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  transition: 0.5ms ease-in-out;
  -webkit-transition: 0.5ms ease-in-out;
  -moz-transition: 0.5ms ease-in-out;
  -ms-transition: 0.5ms ease-in-out;
  -o-transition: 0.5ms ease-in-out;
}