.selection {
  padding: 0.2rem;
  text-align: right;
  height: 100%;
  min-height: 100%;
  max-width: 100vmin;
  /* border-bottom: .1rem solid #38f; */
}

.selection-wrapper {
  text-align: right;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.selection-info {
  font-size: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}