* {
  box-sizing: border-box;
}

/* Grid New */
.flex-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  min-width: 210px;
  min-height: 210px;
  width: 350px;
  height: 350px;
  max-width: 630px;
  max-height: 630px;
  margin: 4px auto;
  font-size: 36px;
}
