body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Override App-header */
.App-header {
  flex-direction: row !important;
}

/* Cell */
.cell {
  display: inline-block;
  background: #345;
  text-align: center;
  vertical-align: middle;
  margin: 0.1rem;
  padding: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.cell:hover, .cell:focus {
  background: #567;
  cursor: pointer;
}

.cell.selected {
  background: #18f;
}

/* Row */
.row {
  display: flex;
  justify-content: center;
}

.rows {
  display: inline-block;
  margin: 0.2rem;
  user-select: none;
}

/* Grid */
.grid {
  display: inline-block;
  margin: 0.4rem;
  /* border: .1rem solid #38f; */
}

/* Sidebar */
.sidebar {
  margin: 0.2rem;
}

.sidebar-inner {
  vertical-align: top;
  text-align: left;
}

.sidebar .cell {
  display: inline-block;
  margin-bottom: 0.2rem;
  background: initial;
  width: auto;
  height: auto;
}

.sidebar .cell:hover, .sidebar .cell:focus {
  background: none;
}

.sidebar .button {
  display: block;
  background: initial;
  border: none;
  background: none;
  color: #28f;
  font-weight: 500;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.sidebar .button:hover, .sidebar .button:focus {
  color: #48f;
  cursor: pointer;
}

.sidebar .highlight {
  font-size: 0.6rem;
  font-weight: 700;
  color: #cde;
  text-transform: none;
}

.multiplier.add1::before, .multiplier.minus1::before {
  color: #cde;
  opacity: 0;
  position: absolute;
  font-size: 50%;
  animation: slide-up 500ms 1;
  animation-timing-function: linear;
}

.multiplier.add1::before {
  content: "+1";
  /* color: #3d4; */
}

.multiplier.minus1::before {
  content: "-1";
  /* color: #d34; */
}

/* Selection & Score */
.selection {
  padding: 0.2rem;
  height: 1.5rem;
  text-align: right;
  /* border-bottom: .1rem solid #38f; */
}

.selection-info {
  font-size: 50%;
  float: left;
  text-align: left;
  left: 0;
  margin-top: -0.2rem;
}

.selection .cell {
  background: initial;
  width: auto;
  height: auto;
  font-size: 0.8rem;
}

.selection .cell:hover, .selection .cell:focus {
  background: none;
}

/* Section */
.section {
  padding: 5rem 1rem;
}
.section-sm {
  padding: 3rem 1rem;
}
.section-xs {
  padding: 1.5rem 0.5rem;
}

/* Shake */
.shake {
  animation: shake 100ms 20;
  animation-timing-function: linear;
}

@keyframes shake {
  0% { transform: translate(0.1rem, 0); }
  50% { transform: translate(-0.1rem, 0); }
  100% { transform: translate(0.1rem, 0); }
}

/* Color Flash */
.flash-error {
  animation: flash-error 500ms 2;
}

@keyframes flash-error {
    0% { background-color: none; }
    50% { background-color: #d34; }
    100% { background-color: none; }
}

.flash-success {
  animation: flash-success 500ms 2;
}

@keyframes flash-success {
    0% { background-color: none; }
    50% { background-color: #3d4; }
    100% { background-color: none; }
}

/* Slide Up */
@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-1.1rem);
    opacity: 0; }
}

/* RESPONSIVE : small screen */
@media screen and (min-width: 320px) {
  .cell, .sidebar .button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }

  .sidebar .highlight {
    font-size: 1rem;
  }

  .selection {
    height: 2.6rem;
  }

  .selection .cell {
    font-size: 1.6rem;
    padding-top: 0.2rem;
  }
}

/* RESPONSIVE : medium screen */
@media screen and (min-width: 640px) {
  .cell, .sidebar .button {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3rem;
  }

  .sidebar .highlight {
    font-size: 1.4rem;
  }

  .sidebar {
    float: right;
    user-select: none;
  }

  .sidebar-inner {
    display: inline-block;
    text-align: center;
  }

  .sidebar .cell {
    display: block;
  }

  .selection {
    height: 3.8rem;
  }

  .selection .cell {
    font-size: 2.4rem;
    padding-top: 0.4rem;
  }
}