body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Cell */
.cell {
  background: #345;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.cell:hover, .cell:focus {
  background: #567;
  cursor: pointer;
}

.cell.selected {
  background: #18f;
}
