* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Saving Progress */
#saving-progress {
  position: fixed;
  top: 5px;
  right: 25px;
}

/* Utilities */
.d-hide {
  display: none;
}

/* Section */
.section {
  padding: 5rem 1rem;
}
.section-sm {
  padding: 3rem 1rem;
}
.section-xs {
  padding: 1.5rem 0.5rem;
}

/* selection-wrapper for Selection & Score Components */
.selection-wrapper,
.modal-body {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.selection-wrapper::-webkit-scrollbar,
.modal-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.selection-wrapper::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track {
  background: transparent;
}
.selection-wrapper::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb {
  background: #888;
}
.selection-wrapper::-webkit-scrollbar-thumb:hover,
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.selection-wrapper::-webkit-scrollbar-corner,
.modal-body::-webkit-scrollbar-corner {
  display: none;
}

/* NEW GAME SETTINGS - Grid Sizes */
.grid-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 44px);
  grid-column-gap: 8px;
  grid-row-gap: 4px;
}

.grid-box {
  width: 44px;
  height: 44px;
  padding: 4px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #cde;
  border-radius: 50%;
}

.grid-box:hover {
  border: 0.1rem solid #28f;
  cursor: pointer;
}

.grid-box.selected {
  border: 0.1rem solid #28f;
  background: #28f;
  color: #fff;
}

/* Shake */
.shake {
  animation: shake 100ms 10;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translate(0.1rem, 0);
  }
  50% {
    transform: translate(-0.1rem, 0);
  }
  100% {
    transform: translate(0.1rem, 0);
  }
}

/* Color Flash */
.flash-error {
  animation: flash-error 250ms 2;
}

@keyframes flash-error {
  0% {
    background-color: none;
  }
  50% {
    background-color: #d34;
  }
  100% {
    background-color: none;
  }
}

.flash-success {
  animation: flash-success 250ms 2;
}

@keyframes flash-success {
  0% {
    background-color: none;
  }
  50% {
    background-color: #3d4;
  }
  100% {
    background-color: none;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #252931;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tooltip */
.tooltip {
  position: relative;
}
.tooltip::after {
  background: #567;
  border-radius: 0.1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 0.7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.2s ease;
  white-space: pre;
  z-index: 300;
  transform: translate(-50%, 0.4rem);
  -webkit-transform: translate(-50%, 0.4rem);
  -moz-transform: translate(-50%, 0.4rem);
  -ms-transform: translate(-50%, 0.4rem);
  -o-transform: translate(-50%, 0.4rem);
}
.tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2rem);
  -webkit-transform: translate(-50%, -0.2rem);
  -moz-transform: translate(-50%, -0.2rem);
  -ms-transform: translate(-50%, -0.2rem);
  -o-transform: translate(-50%, -0.2rem);
}
.tooltip[disabled],
.tooltip.disabled {
  pointer-events: auto;
}
